
#execom{
  height: 100%;
  background-color: #00244d;
  padding-bottom: 1rem;
}

.execom-heading{
  margin: 2rem 0;
  padding-top: 4rem;

}
.swiper {
    width: 80%;
    height: 60%;
    background:none;
  }
  
  .swiper-slide {
    font-size: 18px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* padding: 10px; */
  }
  .profile-row{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* .new{
    height: 100%;
  } */


  .slide{
    margin: 2rem;
    padding: 2rem 0;
    background-color: #00244d;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    
  }
  
  .profile{
    width: 25%;
    margin: 1rem;
    height: 14rem;
    background:none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .profile-img{
    height: 8rem;
    width: 8rem;
  }
  .profile-img img{
    height: 100%;
    width: 100%;
  }
  
  .profile-details{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .profile-details a{
    color: #dce9f7;
  
  }
  .profile-details a:hover {
    color: #2492ff;
  
  }
  
  .profile-details .name{
    font-size: 20px;
    font-weight: 500;
    color:#e5f2ff;
    text-align: center;
  }
  .profile-details .position{
    font-size: 15px;
    color:#8ba8c8;
  }
  
  @media (max-width:1200px){
    .profile{
      width: 35%;
  
    }
    .profile-details .name{
      font-size: 20px;
    }
    .profile-details .position{
      font-size: 15px;
    }
    
  }
  @media (max-width:778px){
    .profile{
      width: 45%;
    }
    
  }
  @media (max-width:600px){
    .profile{
      width: 55%;
    }
    
  }
  @media (max-width:500px){
    .profile{
      width: 70%;
    }
    
  }
  
  